*{
margin: 0%;
padding: 0%;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    height:100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.video{
    width: 100%;
    
}
.content{
    position: absolute;
    top: -30px;
    left: -30px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
align-items: center;
color: aliceblue;
}
.bienvenido{
position: absolute;
top: -200px;
left: 650px;
height: 100%;
width: 100%;
display:flex ;
justify-content: flex-start;
align-items:center;
color: aliceblue;
}
.boton{
    display: inline block;
      padding: 12px 24px;
  background-color: #003995;
    border-radius: 50px;
    position: absolute;
    top: 600px;
    left: 620px;
    color: aliceblue;
    font-size: 30px;
    margin: 10px auto;
    cursor: pointer;
}
.info{
    position: absolute;
     position: absolute;
    top: 100px;
    left: 370px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
align-items: center;
color: aliceblue;
  max-width: 800px;
}
.acerca{
position: absolute;
    top: 1px;
    left: 6px;
    height: 2%;
    width: 16%;
    display: inline-block;
    justify-content: center;
align-items: center;
color: aliceblue;
    padding: 10px 12px;
    margin: 14px auto;
    cursor: pointer;
     border-radius: 10px;
}



